body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px;
  background-color: #f2f2f2;
  margin: 5px;
  border-radius: 5px;
}

form {
  margin: 20px;
}

label {
  display: block;
}

select, input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#playerStats {
  margin: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

#playerStats h3 {
  color: #333;
}
